html, body {
  
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 100%;
  font-size: 16px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
  .header {
    position: absolute;
    background-color: #d8d8d8;
    text-align: right;
    width: 100%;
    height: 50px;
  }

 





/*---------------MOBILE FIRST DESIGN SMALL DEVICE MAX WIDTH 320px-------*/

@media all and (min-width: 0px) {

/**********NAVIGATION BAR SMALL DEVICES **********/
  .sidenav {
    height: 100%;
    width:  0;
    position: fixed;
    z-index: 1;
    top:   0;
    right: 0;
    background-color: #d8d8d8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

  }

    .sidenav a {
        padding: 2% 2% 2% 30%;
        text-decoration: none;
        font-size: 1.5em;
        color: #fff;
        display: block;
        transition: 0.3s
    }


  .closebtn {
      position: absolute;
      overflow-x: visible;
      top: 0;
      left: 0;
      padding: 0.2% 3%;
      background-color: #CCCCCC;
      border-radius: 10%;
      font-size: 2em;
      color: #fff;
    }


  .hamburger-menu {
    font-size: 2em;
    color: #fff;
    cursor: pointer;
    padding: 0.2% 2%;
    background-color: #CCCCCC;
    border-radius: 10%;
  }

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*******BODY SMALL DEVICE MAX 320px ******/
  
  main {
      background-color: #efefef;
      width: 100%;
      text-align: center;
      font-size: 1rem;
  }
      .welcome {
        padding: 10%;
      }

      h3 {
        color: #b0b0b0;
      }

      button {
        padding: 1.5em;
        border: 1px solid #CECECE;
        color: #fff;
        background-color: #d8d8d8;
        width: 70%; 
      }

/*******PRODUCT AREA  SMALL DEVICE*********/
    .product {
      width: 47%;
      margin: 0.5%;
    }

/* FOOTER*/

     .footer-list-wrapper {
        margin-top: 15%;
      }

        .list {
          display: inline-block;
          list-style: none;
          margin-bottom: 0;
        }

  
}

/*----------------------TABLET MEDIUM DEVICE 780max----------------*/
@media all and (min-width: 321px) {

  /******** PRODUCT AREA MEDIUM DEVICES********/
  .product-container {
    width: 100%;
  }
    .product {
      width: 22%;
      margin: 1%;
    }


  .footer-list-wrapper {
        margin-top: 3%;
      }
        .about-us-list {
          display: list-item;
        }

        .footer-text {
          padding: 1%;
        }

}


/*-------------------------------DESKTOP VIEW---------------------*/
@media all and (min-width: 780px) {
/*********NAVIGATION BAR*************/
.hamburger-menu {
  display: none;
}
/*************BODY*******************/

  main {
    text-align: left;
  }
    button {
      width: 25%;
    }
/***************PRODUCT AREA*************/

.product-container {
    width: 75%;
    padding-top: 3%;
    padding-bottom: 5%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

    .product {
      width: 15%;
      height: 150px;
      margin: 2%;
      background-color: #efefef;
    }

/**************FOOTER******************/

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 150px;
    width: 100%;
    overflow: hidden;
    background-color: #464646;
    font-size: 0.8rem;
    border-bottom: 1px solid #979797;
    border-top: 1px solid #979797;
    }

     .footer-list {
        width: 100%;
        padding: 0;    /*to remove the webkit padding starter*/
        padding-top: 5%;
        text-align: center;
        
      }

        .footer-text {
          display: inline;
          color: white;
          padding: 3%;
        }
}