html, body {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 100%;
  font-size: 16px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
  .header {
    background-color: #d8d8d8;
    text-align: right;
    width: 100%;
    height: 50px;
  }

 @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*************BODY*******************/

  main {
    background-color: #efefef;
    width: 100%;
    text-align: left;
    font-size: 1rem;
  }
    .welcome {
      padding: 10%;
    }

    h3 {
      color: #b0b0b0;
    }

    button {
      padding: 1.5em;
      background-color: #d8d8d8;
      color: #fff;
      
    }

/***************PRODUCT AREA*************/

.product-container {
    width: 100%;
    margin-top:    3%;
    margin-bottom: 5%;
    display:   flex;
    flex-wrap: wrap;
  }

    .product {
      width: 15%;
      height: 150px;
      margin: 2%;
      background-color: #efefef;
    }


/*----------------------TABLET MEDIUM DEVICE 780max----------------*/
@media screen and (max-width: 780px) {

  /******** PRODUCT AREA MEDIUM DEVICES********/
    .product {
      width: 22%;
      margin: 1%;
    }

}

/*---------------MOBILE FIRST DESIGN SMALL DEVICE MAX WIDTH 320px-------*/

@media screen and (max-width: 320px) {

/**********NAVIGATION BAR SMALL DEVICES **********/
  .sidenav {
    height: 100%;
    width:  0;
    position: fixed;
    z-index: 1;
    top:   0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

  }

    .sidenav a {
        padding: 8px 8px 8px 60px;
        text-decoration: none;
        font-size: 1.5rem;
        color: #818181;
        display: block;
        transition: 0.3s
    }


    .sidenav .closebtn {
        position: absolute;
        top:   0;
        right: 25;
        font-size: 2rem;
        margin-left: 50px;
    }

  .hamburger-menu {
    font-size: 30px;
    cursor: pointer;
    margin-right: 5%;
  }


/*******BODY SMALL DEVICE MAX 320px ******/
  main {
    text-align: center;
  }
    button {
      padding: 1.5em;
      width: 70%; 
    }


/*******PRODUCT AREA  SMALL DEVICE*********/
    .product {
      width: 47%;
      margin: 0.5%;
    }


/* FOOTER*/

  footer {
    background-color: #464646;
    height: 150px;
    font-size: 0.8rem;
    border-bottom: 1px solid #979797;
    border-top: 1px solid #979797;
    }

     .footer-list-wrapper {
        margin-top: 15%;
      }

        .list {
          display: inline-block;
          list-style: none;
          margin-bottom: 0;
        }

  
}