html {
  color: #fff;
  padding-bottom: 70px;
}

body {
  color: #fff;
  padding-bottom: 70px;
}

a {
  color: #fff;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
